@import url("https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  font-family: "Inknut Antiqua", Arial, Helvetica, sans-serif;
  background-color: rgb(240, 236, 236);
}

.header {
  flex-direction: row;
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

.img {
  height: 100%;
  display: flex;
  align-items: center;
}

.img-logo img {
  max-height: 100%;
}

.img-logo {
  height: 100%;
  padding: 10px;
}

h1 {
  text-align: center;
  color: white;
}

.trybewarts-login {
  display: flex;
  gap: 10px;
  margin-right: 10px;
}

#submit-button {
  width: 100%;
  text-align: center;
  color: white;
  background-color: rgb(80, 36, 132);
  border-radius: 10px;
  height: 50px;
  border: none;
  cursor: pointer;
  font-family: 'Inknut Antiqua', Arial, Helvetica, sans-serif;
}

/* main css */
.main {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.main .display {
  display: flex;
}

.main .display #evaluation-form {
  display: flex;
  flex-direction: column;
  flex-basis: 675px;
  gap: 10px;
  align-items: center;
}

.main .display #evaluation-form .name-surname-wrapper {
  display: flex;
  flex-direction: row;
  gap: 5px;
  width: 100%;
}

.main .display #evaluation-form .email-house-wrapper {
  display: flex;
  flex-direction: row;
  gap: 5px;
  width: 100%;
}


#evaluation-form .trybewarts-login input {
  height: 30px;
  border: none;
  border-radius: 5px;
  width: 100%;
  background-color: white;
  font-family: 'Inknut Antiqua', Arial, Helvetica, sans-serif;
}

.select-form option {
  background: white;
}

input::placeholder {
  padding-left: 10px;
  font-family: 'Inknut Antiqua', Arial, Helvetica, sans-serif;
}

.input-form {
  width: 50%;
  height: 40px;
}

.select-form {
  display: flex;
  gap: 10px;
  width: 50%;
}

.family-content-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.checkbox-item-wrapper {
  display: flex;
  flex-flow: row wrap;
  max-width: 350px;
  align-content: center;
  gap: 10px;
  margin: auto;
}

.checkbox-item-wrapper .form-item {
  flex-basis: 100px;
  flex-grow: 1;
}

.main .display #evaluation-form .radio-family {
  display: flex;
  flex-direction: column;
}

.radio-family label {
  margin-left: 5px;
}

.main .display #evaluation-form .checkbox-content {
  display: flex;
  flex-flow: column wrap;
}

.main .display #evaluation-form .form-satisfacao {
  display: flex;
  align-items: baseline;
}

.form-satisfacao input {
  margin-left: 15px;
}

.form-satisfacao label {
  margin-left: 5px;
}

.main .display #evaluation-form .textarea-container {
  display: flex;
  flex-direction: column;
}

#counter {
  text-align: end;
  position: relative;
  z-index: 1;
  top: -40px;
  right: 10px;
}

.main .img #trybewarts-forms-logo {
  height: 500px;
  width: 100%;
}

.main .display .form-condition {
  display: flex;
  align-items: center;
  gap: 10px;
}

.form-btn {
  width: 100%;
}

#submit-btn {
  width: 100%;
  text-align: center;
  color: white;
  background-color: rgb(80, 36, 132);
  border-radius: 5px;
  height: 40px;
  border: none;
  cursor: pointer;
  font-family: "Inknut Antiqua", Arial, Helvetica, sans-serif;
}

footer {
  display: flex;
  justify-content: center;
  background-color: rgb(64, 68, 76);
  height: 3rem;
  align-items: center;
}

footer div {
  color: white;
}

hr {
  width: 100%;
}
